#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  vertical-align: middle;
  z-index: 1;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  vertical-align: inherit;
}

#nav-bar .header {
  font-size: 2em;
  padding-left: 10px;
  vertical-align: inherit;
}

#nav-bar #Compose {
  float: right;
  vertical-align: inherit;
  height: 50px;
  margin-top: 15px;
}
